/*General*/
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}



/*Main Container*/
.main-container{
    left: 160px;
    width: 950px;
    min-height: 500px;
    height: auto;
    position: relative;
  }
/*Central Container*/
.container
{
        width: 950px; 
        height: 950px;
        margin: 0 auto;
        padding: 10px;
        position: relative;

}

/*MENU*/
.list-container{
    font-family: LFT Etica;
    color: #717E8F;
    font-size: 14px;
    display: inline-block;
}

.list.container a{
    display:inline-block;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.unordered-container{
    text-align: right;
}
.header-mobile{
    display: none;
}
/*LINE*/
.line{
    margin: 10px;
    position: relative;
    left:20px;
}
.line-logo{
    position: relative;
    top:-40px;
    margin-left: 30px;

}

/*LOGO*/
.logo{
    width: 300px;
    margin-left:50px;
}

.login{
    font-family: FT Etica;
    color:#3C4858;
    font-size: 16px;
    position: relative;
    text-align: right;
    margin-top:-35px;
    margin-right: 250px;

} 

.login:hover{
    text-decoration: underline;
}
/*Insert announcement*/
.announcement1{
   
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: initial;
    position: relative;
    top:-25px;
}
.announcement2{
    align-items: center;
    background-color: #feeceb;
    border: 1px solid;
    border-color: #feeceb;
    border-radius: 4px;
    color: red;
    display: -moz-flex;
    display: flex;
    height: 40px;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin-left: auto;
    padding: 0 12px;
    width: 194px;
}
.announcement3{
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: initial;
    fill: var(--sbt-primary-color);
}
.announcement4{
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: initial;
    position: relative;
    text-align:right;
    margin-left:780px;
    color: red;
    top:-30px;
}
/*Input*/
.symbol{
    color:black;
    position: relative;
    margin-top:-35px;
}
.input-one{
    background: url("./img/leans-input.svg") no-repeat scroll 2px 2px;
    padding-left:30px;
}
.input-two{
    background: url("./img/category-input.svg") no-repeat scroll 1px 1px;
    padding-left:30px;
}
.input-three{
    background: url("./img/place.svg") no-repeat scroll 8px 3px;
    padding-left:30px;
}
/*Search bar*/
.searchbar{
    background-color: #fff;
    border: 1px solid #fff;
    height: 100px;
    margin-bottom: 48px;
    position:relative;
    top:20px;
    padding: 20px;
    margin-left:10px;
    border-radius: 4px;
    box-shadow: 0 10px 24px 0 rgb(0 0 0 / 10%);
}
.label1{
    margin-left: 30px;
}
.label2{
    margin-left:50px;
}
.label3{
    margin-left:20px;
}
.icon-search{
    border: 1px solid red;
}
input{
    text-align: center;

}
.row{

    width: 710px;
    height: 30px;
    color: #3c4858;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 6px;
    display: flex;
    justify-content: space-around;
    position:relative;
    text-align: center;
    margin-left:-70px;
}

.text{
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: relative;
    top:-25px;
    margin-right: 10px;
}


.leans{
    background-color: #f9423a;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    display: block;
    height: 48px;
    text-align: center;
    width: 60px;
    position: relative;
    top:-10px;
}


.h2-button{
    color:#717E8F;
    text-align:center;
    font-family: LFT Etica;
    font-size: 21px;
    position:relative;
    top:50px;
}
.row2{
    position: absolute;
    top: 50%;
    left: 5%;
    margin-top: -100px;
    width: 900px;
    height: 250px;
}
/*Button section*/
.button1{
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
}
.button-motori{
    background-color: #2650ff;
    width:  200px;
    height:150px;
    margin-top:40px;
    margin-left:10px;
    border-radius: 10px;
}
.img-mot{
    border: 0;
    font-size: 100%;
    font: inherit;
    margin-left:-170px;
    display: inline-block;
    position: relative;
    top:-90px;
}


.SearchMotor{
    cursor: pointer;
    width: 20%;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    position:relative;
    top: -40px;
    right:150px;
    text-align:center;
    background: transparent;
    border: 1px solid hsla(0,0%,100%,.65);
    border-radius: 4px;
    padding: 0;
}
.button2{
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    
}
.button-market{
    background-color: orange;
    width:  200px;
    height:150px;
    top:-160px;
    margin-left:220px;
    border-radius: 10px;
    position: relative;
}
.img-mark{
    border: 0;
    font-size: 100%;
    font: inherit;
    margin-left:-170px;
    display: inline-block;
    position: relative;
    top:-250px;
}
.SearchMark{
    cursor: pointer;
    width: 20%;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    position:relative;
    top: -200px;
    right:150px;
    text-align:center;
    background: transparent;
    border: 1px solid hsla(0,0%,100%,.65);
    border-radius: 4px;
    padding: 0;
}
.button3{
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    
}
.button-immob{
    background-color: blueviolet;
    width:  200px;
    height:150px;
    top:-320px;
    margin-left:430px;
    border-radius: 10px;
    position: relative;
}
.img-immob{
    border: 0;
    font-size: 100%;
    font: inherit;
    margin-left:-170px;
    display: inline-block;
    position: relative;
    top:-410px;
}
.Searchimmob{
    cursor: pointer;
    width: 20%;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    position:relative;
    top: -360px;
    right:150px;
    text-align:center;
    background: transparent;
    border: 1px solid hsla(0,0%,100%,.65);
    border-radius: 4px;
    padding: 0;
}
.button4{
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    
}
.button-lav{
    background-color: #60c6a6;
    width:  200px;
    height:150px;
    top:-480px;
    margin-left:630px;
    border-radius: 10px;
    position: relative;
}
.img-lav{
    border: 0;
    font-size: 100%;
    font: inherit;
    margin-left:-170px;
    display: inline-block;
    position: relative;
    top:-570px;
}
.Searchlav{
    cursor: pointer;
    width: 20%;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    position:relative;
    top: -545px;
    left:650px;
    text-align:center;
    background: transparent;
    border: 1px solid hsla(0,0%,100%,.65);
    border-radius: 4px;
    padding: 0;
}
/*Trail*/
.trial{
    position: relative;
    top:220px;
    height:300px;
}
.paragraph{
    position:relative;
    width:300px;
    height: 200px;
    margin:10px;
    top:50px;
}
.title2{
    position: relative;
    top:40px;
    text-align: left;
}

p{
    position:relative;
    top:50px;
    color:#717E8F;
}
.p2{
    color: #F9423A;
/*Image pay safe and sell free*/
}
.img-pay{
    position:relative;
    top:-180px;
    width: 270px;
    left:300px;
    height: 250px;
}
.a-pay{
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9423a;
    color: #fff;
    margin-top: 16px;
    padding: 8px;
    border-radius: 4px;
    position:absolute;
    top: 130px;
    width:250px;
    left:20px;
    text-decoration: none;
}
.img-pay2{
    width: 300px;
    height: 200px;
}
.img-sell{
    position:relative;
    top:-430px;
    width: 270px;
    left:600px;
    height: 250px;
}
.section-sell{
    padding: 0 48px 0 0;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("./img/001_DESKTOP_inserisciannuncio.jpg");
    background-position: 0 0;
    border: 1px solid gainsboro;
    width: 900px;
    position:absolute;
    left:10px;
    top:300px;
    background-repeat: no-repeat;
    background: position 200px;
    background-size: contain;
}
.title-sell{
    position:relative;
    left:250px;
    top:-2spx;
    color:#3C4858;
}
.paragraph-sell{
    position: relative;
    top:5px;
    left:250px;
}
.announcement2-sell{
    align-items: center;
    background-color: #feeceb;
    border: 1px solid;
    border-color: #feeceb;
    border-radius: 4px;
    color: red;
    display: -moz-flex;
    display: flex;
    height: 40px;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin-left: auto;
    position:relative;
    top:40px;
    padding: 0 12px;
    width: 194px;
}
.announcement3-sell{
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: initial;
    position: relative;
    top:0px;
    left:5px;
    fill: var(--sbt-primary-color);
}
/*set color for tag announcement*/
theme-redCorporate, :root {
    --sbt-primary-color-d2: #a62133;
    --sbt-primary-color-d1: #cb3035;
    --sbt-primary-color: #f9423a;
    --sbt-primary-color-l1: #fa7b75;
    --sbt-primary-color-l2: #fcb3b0;
    --sbt-primary-color-l3: #feeceb;
}
.announcement4-sell{
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: initial;
    position: relative;
    text-align:center;
    margin-right: 30px;
    margin-left:200px;
    color: red;
    top:10px;
}
/*Section image and paragraph hand*/
.hand{
    border-radius: 4px;
    background-image: url("./img/HP_BOX_earth_day_20220426.jpg");
    width: 550px;
    height:300px;
    left:10px;
    top:-200px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    display: inline block;
}
.hand-paragraph{
    position: relative;
    display: inline-block;
    width: 350px;
    left:550px;
    height: 250px;
}
.p3{
    color:red;
    position: absolute;
    left: 20px;
    font-size: 13;
}
.h2-hand{
    position: relative;
    color: #3C4858;
    top:80px;
    margin-left:20px;
}
.p-hand{
    position: relative;
    color: #3C4858;
    top:90px;
    left:20px;
}
/*Section link privacy*/
.privacy{
    background-color: #f7f8fb;
    margin: 0 auto;
    width: autos;
    padding: 24px 20px 32px;
    top:800px;
    position:relative;
    display: flex;
    justify-content: space-between;
}
.h2-privacy{
    text-align: left;
    color:#3C4858;
    font-size:21px;
}
.img-privacy{
    position:relative;
    margin-left:-25px;
}
.a-privacy{
    color:#3C4858;
    font-size:18px;
    text-decoration: none;
}
.span-privacy {
    position:relative;
    right: 35px;
    margin-left:30px;
}

.p-privacy{
    color:red;
    top:10px;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}
/*Section for app*/
.app{
     position:relative;
     top:800px;
     height: 150px;
     padding: 24px 16px 32px;
    border-radius: 4px;
    background-color: #f7f8fb;
    text-align: center;
    margin-top:70px;
}
.p-app{
    line-height: 24px;
    margin-top: 4px;
    font-size: 16px;
    color: #717e8f;
    position: relative;
    top:5px;
}
.app-img{
    top:20px;
    position:relative;
}
.line2{
    position: relative;
    margin-top:50px;
    top:800px;
}

.container-model{
    height: 700px;
    width: 900px;
    position: relative;
    top: 800px;
}
.h3-model{
    color:#3C4858;
    font-size: 20px;
    padding: 20px 20px;
}
/*Section with link for category*/
h5{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #2650FF;
    margin-left:20px;
}
a{
    color: #3C4858;
    position: relative;
    left: 10px;
}
.market{
    color: #F2A700;
}
.immobili{
    color: #9924FF;
}
.lavoro{
    color: #07BB9C;
}
/*Footer*/
.footer-line{
    border-top: 1px solid #dfe3ed;
    color: #717e8f;
    padding: 16px 20px;
    position: relative;
    margin-top: 30px;
    top:800px;
}
.list footer{
    list-style-type: none;
}
.Title-footer{
    position:relative;
    left:10px;
    top:-10px;
}
ul{
    list-style-type: none;
}

strong{
    color:#717E8F;
    font-size: 14px;
}
a{
    margin-right: 10px;
   text-decoration: none;
   
}
a:hover{
    text-decoration: underline;
}
/*List Footer*/
li{
    align-items: center;
    display: flex;
    margin-top: 8px;
}
.second-list{
    position:relative;
    margin-left:220px;
    margin-top:-350px;
}
.Title-footer2{
    position:relative;
    margin-left:450px;
    margin-top: -239px;
}
.third-list{
    position:relative;
    margin-left:450px;
    margin-top:70px;
}

.Title-footer4{
    position:relative;
    margin-left:650px;
    margin-top: -180px;
}
.fourth-list{
    position:relative;
    margin-left:640px;
    margin-top:70px;
}
.logo-footer{
    position:relative;
    margin-top: 500px;
    text-align: center;
    height:150px;
}
.p-footer{
    position: relative;
    margin-bottom: 20px;
    margin-top: -15px;
}
.header__item {
    color: var(--sGrey);
    margin: 0 16px;
  }
  .header--color {
    color: var(--sGrey);
    fill: var(--sGrey);
  }
  .line-mobile{
      display: none;
  }

/*Media Queries*/
@media (max-width: 979px){
        .unordered-container{
            display:none;
        }
        .header-mobile{
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 1em;
            width: 100%;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 9px;
            font-weight: 700;
            line-height:60px;
            z-index: 99;
        }
        .header__item {
            margin: 0;
            flex-basis:20%;
            height: 10%;
            text-align: center;
          }
        .header-mobile p {
            position: relative;
            margin-top: -90px;
            
          }
          
        .h2-button{
            margin-top:-1px;
        }
        img.logo{
            display: block;
            text-align: center;
        }
        .line-mobile{
            margin-top: -200px;
        }
}